# Folders
chai3d/.vs/
chai3d/bin
chai3d/modules/GEL/bin/
chai3d/modules/GEL/.vs/
chai3d/modules/OCULUS/bin/
chai3d/modules/OCULUS/.vs/
**/obj/
**/output/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.stl

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# VS stuff
*.ipch
*.pdb
*.vsidx
*.db
*.bin
*.bsc
*.tlog

*.log
