# Folders
chai3d/.vs/
chai3d/bin
chai3d/modules/GEL/bin/
chai3d/modules/GEL/.vs/
chai3d/modules/OCULUS/bin/
chai3d/modules/OCULUS/.vs/
.vs/
src/.vs/
src/bin/
**/obj/
**/output/
build/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.stl

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS stuff
*.ipch
*.pdb
*.vsidx
*.db
*.bin
*.bsc
*.tlog
*.log
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
CMakeCache.txt
CMakeFiles/
MorphoHaptics.sln
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
chai3d_build/
cmake_install.cmake
src/CMakeFiles/
src/MorphoHaptics.dir/
src/MorphoHaptics.vcxproj
src/MorphoHaptics.vcxproj.filters
src/MorphoHaptics.vcxproj.user
src/cmake_install.cmake
x64/
